* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container,
#items-list {
    width: 75%;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 3rem;
    width: 65%;
    padding: 1rem 2rem;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 14px;
    font-weight: 400;
}

input::placeholder {
    font-style: italic;
}

button {
    width: 25%;
    height: 3rem;
    margin-left: 2rem;
    background: #337ab7;
    border: 1.8px solid #337ab7;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #2d6faa;
    transition: 0.4s;
}

#items-list {
    margin-top: 0;
    flex-direction: column;
}

#items-list div {
    width: 100%;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #2d6faa;
    display: flex;
    justify-content: center;
    align-items: center;
}

#items-list p {
    width: 65%;
    font-weight: 400;
}

#items-list button {
    width: 25%;
}